<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="http://localhost:3000/static/SearchAndHeader.css">


</head>
<body>
<header>
    <div class="contain">
        <div class="BoxHeader">
            <ul class="selectPageBox">
                <li><a href="/" class="selectPage">Home</a></li>
                <li><a href="http://localhost:3000/1/Popular" class="selectPage">Populaire</a></li>
            </ul>
            <form class="searchForm" action="/1/search">
                <input type="search" class="search" placeholder="Search..." aria-label="Search" name="query" >
                <input class="checkBox" type="checkbox" name="Provider" >
                <div>Avec/Sans vos sites de Streaming</div>
            </form>
            <div class="accountButtonBox">
                {{^authenticated}}
                <a type="button" class="accountButton" href="/login">Connextion</a>
                <a type="button" class="accountButtonOrange" href="/sign_up">Insciption</a>
                {{/authenticated}}

                {{#authenticated}}
                <a type="button" class="accountButtonOrange" href="/logout">Deconnexion</a>
                <a type="button"  href="/account">
                    <img src="/static/SansPhoto.jpg" class="imgAccount">
                </a>
                {{/authenticated}}
            </div>
        </div>
    </div>
</header>