{{>header}}

<link rel="stylesheet" href="http://localhost:3000/static/MovieCSS.css">
<link rel="stylesheet" href="http://localhost:3000/static/loginSignInCSS.css">
<style>
    .favorite{
        position:relative;
        margin-left: 94%;
        margin-top: 2%;
        border: 1px solid #343a40;
        border-radius: 15%;
        padding: 8px;
        cursor: pointer;

    }
    .favorite:hover{
        background-color:{{colorFavorite}};
    }
</style>

<div class="border">
        <div class="imgPoster">
            <img class="poster" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2{{img}}"  onerror="this.src ='/static/ImgNotFound.jpg'"  >
        </div>
        <div class="info">
            <div class="titleFact">
                <h2> {{titre}} </h2>
                    <div class="Fact">
                        <span >{{release}}</span>
                        <span > {{#genre}} {{name}}, {{/genre}}</span>
                        <span >{{time}}</span>
                    </div>
            </div>

            <div class="synopsis">
                <div> {{resume}} </div>
            </div>


            <h4 class="titleAvailable"> Disponnible sur: </h4>
            <ul class="ulProvider">

                {{#available}}
                <li class="liProvider">
                    <img class="imgProvider" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2{{logo_path}}" onerror="this.src ='/static/ImgNotFound.jpg'">
                    <div> {{provider_name}} </div>
                </li>
                {{/available}}
            </ul>

            {{#authenticated}}
            <form action="/movies/favorite/{{id}}{{img}}"  method="post">
                <input class="favorite"  type="submit" value="Favori" >
            </form>
            {{/authenticated}}

        </div>
    </div>
</div>



<form action="/back" method="post">
    <input  class="buttonReturn"  type="submit" value="back">
</form>


</body>
</html>