{{>header}}
<link rel="stylesheet" href="http://localhost:3000/static/loginSignInCSS.css">

<div class="BoxLogInSignIn">


        <div class="BoxFormLogin">
            <h1 class="TitleLogin">Inscription</h1>
            <form action="/sign_up" method="post">
                <input class="inputLog" type="text" name="Nom d'utilisateur" placeholder="username" minlength="1" required>
                <input class="inputLog" type="text"  name="Mot de Passe" placeholder="password" minlength="1" required>
                <input class="submitLog" type="submit" value="Inscription">
            </form>
        </div>
</div>
</body>
</html>